 body {
     font-weight: 300;
     font-size: xx-large;
     color:teal;
     text-align: center;
     margin: 100px;
 }


 .js {
     font-family: 'Lato-Light';
     font-weight: 300;
     font-size: large;
     color:darkgray;
     text-align: center;
 }

 h1 {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    margin-bottom: 0px;
 }

 h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: large;
 }

 p {
    font-family: 'Abel', sans-serif;
    font-size: medium;
    color: black;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
 }
